@font-face 

@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext-Bold.ttf');
        }




.mainfooter {
    display: flex;
    flex-direction: row;
    background-color: #f3f4f2;
    height: 150px;
}