@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext_Bold.ttf');
        }
@font-face {
    font-family: Avenir_Medium;
    src: url('../fonts/AvenirNext_Medium.ttf');
        }
@font-face {
    font-family: Avenir_Regular;
    src: url('../fonts/AvenirNext_Regular.ttf');
    }
@font-face {
    font-family: Avenir_UltraLight;
    src: url('../fonts/AvenirNext_UltraLight.ttf');
        }



.content_buttons {
    width: 100%;

}

.main_content {
    width: 100%;

}


.nav-buttons .nav-link.active, .nav-buttons .show > .nav-link {
    color: #fff;
    background-color: #009b00;
    font-family: "Avenir_Medium", sans-serif;

}

.nav-buttons .nav-link {
    border-radius: .25rem;
    color: black;
    font-family: "Avenir_Medium", sans-serif;

}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    border: 1px solid rgba(0,0,0,.125);
}

#content_about {
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary_about {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text_about {
    width: 100%;
    padding: 20px;

}

.text_about h5 {
    font-family: "Avenir_Bold", sans-serif;
    color: #ff6119;
    font-size: 1.3em;
}

.text_about p {
    font-family: "Avenir_Regular", sans-serif;
    color: black;
    font-size: 1em;
    line-height: 1.3em;
    text-align: justify;

}

.stripe_about {
    width: 90%;
    text-align: center;
    background-color: #f3f4f2;
    height: 90px;
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    
}

.stripe_about p {
    font-family: "Avenir_Medium", sans-serif;
    color: black;
    font-size: 1em;
    line-height: 1.4em;
    padding: 10px;
    margin: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 3 1 auto;
    padding: 10px;
}

.question p {
    font-family: "Avenir_Light", sans-serif;
    color: black;
    text-align: left;
    margin: 0;
}




    @media (max-width: 991px) {

        .mainfooter {
            display: flex;
            flex-direction: column;
        }


    }