@charset "UTF-8";
/* CSS Document */

/*Naranja #f96207
Verde #029c01
Amarillo #f9a107
Rojo #e43f0d*/

@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext_Bold.ttf');
        }
@font-face {
    font-family: Avenir_Medium;
    src: url('../fonts/AvenirNext_Medium.ttf');
        }
@font-face {
    font-family: Avenir_Regular;
    src: url('../fonts/AvenirNext_Regular.ttf');
    }
@font-face {
    font-family: Avenir_UltraLight;
    src: url('../fonts/AvenirNext_UltraLight.ttf');
        }

.checkout_status {
    display: flex;
    justify-content: center;
    top: 100px;
    margin: auto;
}
.checkout_status_icons{
    display: flex;
    justify-content: space-around;
	position: relative;
    z-index: 1;
} 
.checkoutStatusSteps {
	display: flex;
	flex-direction: column;
	text-align: center;
	color:#878484;
}
.checkout_status_icons img {
	width: 60px;
    margin: 4px 30px;
}

.checkout_status_barra {
	width: 80%;
    position: absolute;
    background-color: #ebebeb;
    height: 18px;
    display: flex;
    top: 34%;
}

.divTableCellProducto {
	
    display: flex;
	justify-content: center;
}
.divTableCellProducto {
flex-direction: column;
}
.divTableCellProductoCat {
	font-size: .8em;
	font-family: "Avenir_Bold", sans-serif;
}
.divTableCellcoment input{
	width:90px;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableCell img {
	width:15px;
}

/*inician estilos cantidad*/

.review_cart_qty {
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
}
.sum,  .res {
	border: none;
    padding: 9px 0;
    margin-bottom: 0px;
}
.sum img, .res img{
	vertical-align: middle;
    border-style: none;
    width: 30px;
}


.qty {
	border: 1px solid grey;
    padding: 2px;
    width: 40px;
    font-family: "Avenir_Medium", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

/*tabla2*/

table.minimalistBlack {
	font-family: "Avenir_Regular", sans-serif;
    width: 75%;
    position: relative;
    z-index: 1;
    top: 145px;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    border: none;
    padding: 5px 4px;
  }
  table.minimalistBlack tbody td {
    font-size: 13px;
  }
  table.minimalistBlack thead, table.minimalistBlack tfoot {
    background: #f96207;
  }
  table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: "Avenir_Bold", sans-serif;
    color: white;
    text-align: center;
  }
 
  table.minimalistBlack tfoot td {
    font-size: 1em;
    font-weight: "Avenir_Bold", sans-serif;
    color: white;
    text-align: center;
  }
.checkoutBtn {
	display: flex;
    justify-content: flex-end;
    width: 87%;
    position: absolute;
    top: 100%;
}
.btnNext {
	background-color: #0A7F1C;
	color:#ffffff;
	padding:5px 15px;
	font-family: "Avenir_Medium", sans-serif;
	font-size: 16px;
	border-radius: 10px;
	border:1px;
}
@media (max-width: 991px) {
	
.checkout_status {
    top: 140px;
}	
.checkout_status_icons img {
    width: 47px;
    margin: 4px 18px;
}
.checkout_status_barra {
	width: 75%;
    height: 12px;
    top: 22%;
}
	table.minimalistBlack {
		font-family: "Avenir_Regular", sans-serif;
    width: 95%;
	}
	
	.divTableBody {
    width: 95%;
	}
	.DivTableTitle {
    font-size: .8em;
	}
	.divTableCell, .divTableHead {
    font-size: 0.7em;
	}
	.plp_counter_icons_minus img, .plp_counter_icons_plus img {
    width: 30px;
}
	.plp_counter_row input {
    margin: 8px 0px 5px 5px;
    width: 55%;
    height: 19px;
    left: 15%;
    margin-top: 6px;
}
	.divTableCellcoment input{
	width:50px;
		font-size:.9em;
}

	/*cantidad*/

.review_cart_qty {
    margin-top: 8px;
}


}