
/*Naranja #f96207
Verde #029c01
Amarillo #f9a107
Rojo #e43f0d*/



@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext_Bold.ttf');
        }
@font-face {
    font-family: Avenir_Medium;
    src: url('../fonts/AvenirNext_Medium.ttf');
        }
@font-face {
    font-family: Avenir_Regular;
    src: url('../fonts/AvenirNext_Regular.ttf');
    }
@font-face {
    font-family: Avenir_UltraLight;
    src: url('../fonts/AvenirNext_UltraLight.ttf');
        }


.back_modal {
    width: 600px;
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: #c1c1c169;
    border-radius: 10px;
    align-items: center;
    padding: 20px 0px 10px 0px;
    box-shadow: 0px 3px 5px #3333331b;
}

.iso_modal {
    padding: 0 !important;
}

.data_modal {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px !important;
}

.data_modal h6 {
    font-family: "Avenir_Bold", sans-serif;
    font-size: 1.4em;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.data_modal p {
    font-family: "Avenir_UltraLight", sans-serif;
    font-size: 0.9em;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    color: black;
    margin-top: 5px;
    text-align: left;
    margin-left: 8px;
}

.custom-control p {
    font-family: "Avenir_UltraLight", sans-serif;
    font-size: 1.1em;
    margin: 4px 0px 0px 0px;
    text-align: center;
    width: 100%;
    color: black;
    text-align: left;
}

.form-group ::placeholder {
    font-family: "Avenir_UltraLight", sans-serif;
    font-size: 1em;
}



.data_modal .form-group label {
    font-family: "Avenir_Medium", sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 8px;
}

.data_modal .custom-control {
    font-family: "Avenir_Regular", sans-serif;
    font-size: 0.7em;
    color: black;
    margin-left: 8px;
}

.btn_register_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.btn_register {
    background-color: #f9a107;
    color: #ffffff;
    width: 140px;
    height: 40px;
    font-family: "Avenir_Medium", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_register:active {
    box-shadow: 0px 3px 5px #3333334d;

}





@media (max-width: 991px) {

    .back_modal {
        width: 420px;
        display: flex;
        height: auto;
        flex-direction: column;
        background-color: #c1c1c169;
        border-radius: 10px;
        align-items: center;
        padding: 0;
        box-shadow: 0px 3px 5px #3333331b;
    }
    
    .iso_modal {
        padding: 0 !important;
        text-align: center;
        margin-bottom: 20px;
    }

    .iso_modal img {
        width: 200px; 
    }
    
    .data_modal {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0px 20px !important
    }
    
    .btn_register {
        background-color: #f9a107;
        color: #ffffff;
        width: 140px;
        height: 40px;
        font-family: "Avenir_Medium", sans-serif;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}