@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext_Bold.ttf');
        }
@font-face {
    font-family: Avenir_Medium;
    src: url('../fonts/AvenirNext_Medium.ttf');
        }
@font-face {
    font-family: Avenir_Regular;
    src: url('../fonts/AvenirNext_Regular.ttf');
    }
@font-face {
    font-family: Avenir_UltraLight;
    src: url('../fonts/AvenirNext_UltraLight.ttf');
        }


.mainfooter ul > li {
    font-family: "Avenir_UltraLight", sans-serif;
    font-size: 1em;
    list-style: none;
    line-height: 25px;
    text-align: left;
}

.mainfooter a, .mainfooter a:hover{
    color: black;
}

.mainfooter ul {
    padding: 0;
    margin: 0;
}

.mainfooter p {
    font-family: "Avenir_UltraLight", sans-serif;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    margin-bottom: .4em;
}

.mainfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f3f4f2;
    height: 150px;
    position: relative;
    width: 100%;
    margin-top: 50px;
    box-shadow: 0px -2px 5px #33333315;
}

.leftfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.middlefooter {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    align-content: center;
    }

.middlefooter {
    font-family: "Avenir_UltraLight", sans-serif;
    font-size: .7em;
    text-align: center;
    }

.middlefooter img {
    width: 90px;
}

.icons_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}

.icons_footer img {
    width: 40px;
    margin: 0px 20px 0px 20px;
}

.rightfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.rightfooter li > h6 {
    text-align: left;
    font-family: "Avenir_Medium", sans-serif;
    margin: 0;
    line-height: 1.5em;

}

.v-line {
    height: 50%;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #f5f5f5;
    position: absolute;
    left: 30%;
    }

.v-line2 {
    height: 50%;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #f5f5f5;
    position: absolute;
    right: 30%;
    }







@media (max-width: 991px) {



    .mainfooter {
        display: flex;
        flex-direction: row;
        background-color: #f3f4f2;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .leftfooter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .middlefooter {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        justify-content: space-around;
        align-content: center;
        margin-bottom: 20px;
        }

    .middlefooter img {
        width: 90px;
    }

    .icons_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0px;
    }

    .icons_footer img {
        width: 40px;
        margin: 0px 20px 0px 20px;
    }

    .rightfooter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin: 10px 0px 10px 0px;
    }

    .v-line, .v-line2 {
        display: none;
        }

}