
/*Naranja #f96207
Verde #029c01
Amarillo #f9a107
Rojo #e43f0d*/



@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext_Bold.ttf');
        }
@font-face {
    font-family: Avenir_Medium;
    src: url('../fonts/AvenirNext_Medium.ttf');
        }
@font-face {
    font-family: Avenir_Regular;
    src: url('../fonts/AvenirNext_Regular.ttf');
    }
@font-face {
    font-family: Avenir_UltraLight;
    src: url('../fonts/AvenirNext_UltraLight.ttf');
        }



.content_buttons {
    width: 100%;
}

.main_content {
    width: 100%;
}

.btn-primary {
    background-color: #029c01 !important;
    color: white !important;
    font-family: "Avenir_Medium", sans-serif !important;
    border: none !important;
    outline: none !important;
}



/*INPUTS*/

.title_input {
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: .5rem;
    margin-top: 1em;
    font-family: "Avenir_Medium", sans-serif;
}

.form-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: "Avenir_Medium", sans-serif;
}

.form-controlRegisteredMail:focus {
    display: inline-block;
    margin-bottom: .5rem;
    color: red;
    font-family: "Avenir_Medium", sans-serif;
}


.form-control {
    font-family: "Avenir_UltraLight", sans-serif;
}

.checkbox_facturacion {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 20px 0px;
    font-size: 1em;
}

/**
.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #009b0025 !important;
}
**/

.nav-buttons .nav-link.active, .nav-buttons .show > .nav-link {
    color: #fff;
    background-color: #009b00;
    font-family: "Avenir_Medium", sans-serif;

}

/*MIS DIRECCIONES*/

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 2px 5px #3333331b;
    border-radius: 10px;
}
.card_data a {
    color: black !important;
    text-decoration: none !important;
    background-color: none !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 20px 0px 20px 30px;
    display: flex;
    flex-direction: column;
}
.card-body p {
    font-family: "Avenir_Medium", sans-serif;
    color: black;
    margin-bottom: 0px;
}
.adressData h5{
    text-decoration: underline #f96207;
    text-underline-position: under;
    margin-bottom: 15px;
}
#subjectName {
    margin-bottom: .75rem;
    font-family: "Avenir_Bold", sans-serif;
}
#subjectPhone {
    margin-bottom: .75rem;
    font-family: "Avenir_Medium", sans-serif;
}
#subjectAdress {
    font-family: "Avenir_Regular", sans-serif;
    margin-top: 10px;

    margin-bottom: 20px;
}
#card-title {
    margin-bottom: .75rem;
}
.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}
.card_btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    font-family: "Avenir_Regular", sans-serif;
}
.btn-primary-edit {
    color: black !important;
    background-color: #eaeaea !important;
    border: none !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
}
.btn-primary-edit:hover {
    color: white !important;
    background-color: #009b00 !important;
}
.btn-primary-edit.focus, .btn-primary-edit:focus {
    box-shadow: 0 0 0 0 !important;
}
.nav-buttons .nav-link {
    border-radius: .25rem;
    color: black;
    font-family: "Avenir_Medium", sans-serif;

}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    border: 1px solid rgba(0,0,0,.125);
}


/*MIS FORMAS DE PAGO*/

.card-body-pay {
    flex: 1 1 auto;
    padding: 20px 0px 20px 30px;
    display: flex;
    flex-direction: column;
}
.card-body-pay p {
    font-family: "Avenir_Regular", sans-serif;
    font-size: 1em;
}
.card-body-pay h5 {
    font-family: "Avenir_Bold", sans-serif;
    font-size: 1em;
}
#aliasPayCard {
    font-size: 1.25rem;
    font-family: "Avenir_Bold", sans-serif;
    text-decoration: underline #f96207;
    text-underline-position: under;
    margin-bottom: 15px;
}
#numberPayCard {
    margin-bottom: .75rem;
    font-family: "Avenir_UltraLight", sans-serif;
}
.addpayform_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*AGREGAR TARJETA PAGO*/
.backAddPayForm {

    background-color: #fff;
    padding: 20px 0px 10px 0px;
    box-shadow: 0px 3px 5px #3333331b;
    border-radius: 10px;
}


/*MIS PEDIDOS*/

#content_orderData {
    display: flex;
    flex-direction: row;
    height: 90px;
}

.card_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f2;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
    margin: 10px 5px 10px 5px;
}

.card_date h5{
    font-family: "Avenir_Bold", sans-serif;
    font-size: 2.5em;
    margin: 0;
    line-height: 1em;
}

.card_date p {
    font-family: "Avenir_Medium", sans-serif;
    font-size: 1em;
    margin: 0;
    line-height: 0.8em;
}

.card_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f3f4f2;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
    margin: 10px 5px 10px 5px;

}

.card_data p {
    font-family: "Avenir_Medium", sans-serif;
    font-size: 1em;
    margin: 0px 0px 0px 20px;
    line-height: 1.2em;
}

#content_orderData h5:nth-last-child(1) {
    font-family: "Avenir_Bold", sans-serif;
    font-size: 1em;
    margin: 0;
    line-height: 1em;
    color: white;
    text-align: center;
}

#OrderStatusDelivered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #009b00;
    border-radius: 15px;
    padding: 0;
    margin: 10px 5px 10px 5px;
    font-family: "Avenir_Bold", sans-serif;
}

#OrderStatusStandBy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffa500;
    border-radius: 15px;
    padding: 0;
    margin: 10px 5px 10px 5px;
    font-family: "Avenir_Bold", sans-serif;
}

#OrderStatusCancelled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff6119;
    border-radius: 15px;
    padding: 0;
    margin: 10px 5px 10px 5px;
    font-family: "Avenir_Bold", sans-serif;
}

#OrderStatusReturned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e43f0d;
    border-radius: 15px;
    padding: 0;
    margin: 10px 5px 10px 5px;
    font-family: "Avenir_Bold", sans-serif;
}



/*TABLE DESPLEGABLE MIS PEDIDOS*/
.tableOrdered {
    height: auto;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}
.DivTableTitleMain{
	padding: 4px 0px;
    color: black;
    font-family: Avenir_Medium;
    font-size: 1.2em;
	padding: 5px;
}
.titles_orders {
    background-color: #f2f2f2;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
}

table.tableReviewOrders {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
  }
table.tableReviewOrders td, table.tableReviewOrders th {
    border: none;
    padding: 5px 4px;
  }
table.tableReviewOrders tbody td {
    font-family: "Avenir_Regular", sans-serif;
    font-size: 1em;
    text-align: center;
    color: black;
  }
table.tableReviewOrders thead {
    background: #029c01;
  }
table.tableReviewOrders thead th {
    font-family: "Avenir_Bold", sans-serif;
    font-size: 1em;
    text-align: center;
    color: white;
  }
table.tableReviewOrders tfoot {
    font-family: "Avenir_Bold", sans-serif;
    font-size: 1em;
    text-align: center;
    color: white;
    background: #029c01;
  }
table.tableReviewOrders tfoot td {
    font-family: "Avenir_Bold", sans-serif;
    font-size: 1em;
    text-align: center;
}
.card_data img {
    width: 40px;
}



    @media (max-width: 991px) {

        .mainfooter {
            display: flex;
            flex-direction: column;
        }

        .main_content {
            width: 100%;
            margin: 0px 15px 0px 15px;
        }

        .title_input {
            display: inline-block;
            font-size: 1.3em;
            margin-bottom: 15px;
            margin-top: 1em;
            font-family: "Avenir_Medium", sans-serif;
        }

        .content_buttons {
            width: 100%;
            margin: 25px 10px 20px 10px;
        }

        .form-group label {
            display: inline-block;
            margin-bottom: .5rem;
            margin-left: 10px;
            font-family: "Avenir_Medium", sans-serif;
        }

    }



    
    