
/*Naranja #f96207
Verde #029c01
Amarillo #f9a107
Rojo #e43f0d*/

@font-face {
    font-family: Avenir_Bold;
    src: url('../fonts/AvenirNext_Bold.ttf');
        }
@font-face {
    font-family: Avenir_Medium;
    src: url('../fonts/AvenirNext_Medium.ttf');
        }
@font-face {
    font-family: Avenir_Regular;
    src: url('../fonts/AvenirNext_Regular.ttf');
    }
@font-face {
    font-family: Avenir_UltraLight;
    src: url('../fonts/AvenirNext_UltraLight.ttf');
        }
main {
	position:relative;
	width:100%;
}

.header{
	display: flex;
	background-color: #ffa501;
	height: 70px;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin:0;
}

.header_logo {
	display: flex;
	justify-content: center;
}
.header_logo img {
	width: 100px;
	
}
.header_search {
	height: 100%;
}
.header_icons {
	height:100%;
	display: flex;
	flex-direction: row;
	
}
.header_profile {
	width: 50%;
	height:100%;
	display: flex;
	justify-content: center;
}
.header_profile img {
	width: 35px;
	padding-top:20px;
}
.header_profile p{
	font-family: "Avenir_Medium", sans-serif;
	font-size: 1.1em;
	color: #ffffff;
	margin-top: 20%;
}
.header_cart {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.cart_left img{
    padding-top: 12px;
    width: 48px;
}
.header_cart p{
	font-family: "Avenir_Medium", sans-serif;
	font-size: 1.1em;
	color: #ffffff;
	margin-top: 20%;
	padding:5px;
}


.searchbox {
	padding: 8px 16px;
	background-color: #ffffff;
	margin-top: 10px;
	border-radius: 10px;
}

.searchbox #search{
	width:100%;
	border: 1px solid #ffffff;
	outline:none;
} 

.main_section {
	background-color: aqua;
    padding: 0px!important;
    position: relative;
}
.main_section_img{
	margin: 0 auto;
    display: block;
	padding:0;
	width: 100%;
}

.main_section_img img{
	width:100%;
}
.main_section_copy {
	z-index: 0;
    position: absolute;
    text-align: center;
    right: auto;
}

.main_section_btn {
	z-index: 0;
    position: absolute;
    text-align: center;
    right: auto;
    bottom: 30%;
}

.orders {
	background-color: #009b00;
	display:flex;
	justify-content: center;
}
.orders_text {
	color: #ffffff;
	text-align: left;
	padding-top: 20px;
    padding-bottom: 20px;
	margin-top: 20px;
}
.orders_text h3 {
	font-family: "Avenir_Medium", sans-serif;
	line-height: 10px;
}
.orders_text p {
	font-family: "Avenir_Medium", sans-serif;
	font-size: 1.1em;
}
.order_history_box {
	display:flex;
	align-items: center;
	justify-content: center;
}
.order_history, .order_history2, .order_history3 {
	font-family: "Avenir_Medium", sans-serif;
	display:flex;
	align-items: center;
	justify-content: center;
    margin-right: 10px;
}
.order_box{
	background-color: #ffffff;
	border-radius: 10px;
	display:flex;
} 
.order_date{
	
	padding-top:5px;
	padding-left:5px;
	padding-bottom: 5px;
	margin-right: 10px;
}
.order_date_day{
	font-size: 1.5em;
	color: #f26432;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 2px;
	line-height:7px;
}
.order_date_month {
	color: #646363;
	font-size: 1.1em;
	text-align: center;
}
.order_info {
	    width: 105px;
	margin-right: 5px;
	padding-top: 15px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}
.order_info_number {
	font-size:.8em;
	color: #646363;
	text-align: left;
}
.order_info_quantity {
	font-size:12px;
	color: #646363;
	text-align: left;
}
.order_btn {
	height: 100%;
	padding-top:33px;
	padding-right:5px;
}
.order_btn img {
	height:auto;
	margin-right: 10px;

}
.steps_title, .category_title {
	font-family: "Avenir_Medium", sans-serif;
	width: 100%;
    text-align: center;
    margin: 20px 0;
    position: relative;
    font-size: 1.6em;
	letter-spacing: 1px;
}
.steps {
	margin-top: 20px;
	position:relative;
	height: 250px;
}

.steps_info{
	width: 360px;
	font-family: "Avenir_Medium", sans-serif;
	margin: 0 20px;
	text-align: center;
}
.steps_info img {
	align-content: center;
	padding: 10px;
	height: 48%;
}
.steps_info h3 {
	font-size: 1.5em;
	color: #e86439;
}
.steps_info p {
	font-size: 1.2em;
	color: #363636;
}

    
/*seccion slider prueba
*/
#sliderBX{
  height:100px;
  margin-left:0px;
  transition:margin .2s ease-in-out;
}
#sliderBX-contenedor{
  width:100%;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
  background:blue;
	margin-bottom: 20px;
}
#btnSliderNext i, #btnSliderPrev i{
  padding-top:6px;
}
#btnSliderNext, #btnSliderPrev{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:#f9a107;
  color:#fff;
  width:30px;
  height:30px;
  border-radius:15px;
  padding:0px;
  text-align:center;
  opacity:.8;
}
#btnSliderNext:hover, #btnSliderPrev:hover{
  cursor:pointer;
  background:black;
}
#btnSliderNext{
  position:absolute;
  right:5px;
}
#btnSliderPrev{
  position:absolute;
  left:5px;
}
.sliderBXcell{
  width:250px;
  height:100px;
  display: flex;
  justify-content: center;
}
.sliderBXcell p{
  padding-top:40px;
}
#sliderBX .sliderBXcell:nth-child(odd){
  height:100px;
  background:#f2f2f2;
  display:inline-block;
  float:left;
}
#sliderBX .sliderBXcell:nth-child(even){
  height:100px;
  background:#ddd;
  display:inline-block;
  float:left;
}
#sliderBX p{
 	color: #ffffff;
    font-family: Avenir_Bold;
    font-size: 20px;
    letter-spacing: 1.2px;
    position: absolute;
    justify-content: center;
    display: flex;
	margin-left: 80px;
}


@media (max-width: 991px) {
	.header_search {
		background-color:#ffa500;
	}
	
	.main {
		position: relative;
    	top: 140px;
	}
	.main_section_copy {
		text-align: center;
    padding: 20px;
    right: auto;
    top: 185px;
		color:#ffffff;
	}
	.main_section_btn {
		bottom: 50%;
	}
	.steps_info h3 {
    font-size: 16px;
	}
	.steps_info p {
    font-size: 12px;
	}
	.steps_info img {
    margin-bottom: 10px;
	height: 40%;
	}
	.steps_info {
	    margin: 0 13px;
	}
	.steps_title, .category_title {
    margin: 20px 0px;
    padding: 0 10px;
    line-height: 25px;
    font-size: 1.2em;
	}	
	.orders{
		flex-wrap: wrap;
	}
	.orders_text {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: 10px;
	}
	
	.orders_text h3 {
		font-size:20px;
	}
	
	.orders_text p {
		font-size:12px;
	}
	.order_history3 {
		display:none;
	}
	.order_history, .order_history2 {
		margin-right: 12px;
    	margin-bottom: 20px;
	}
	